/* Scss Document */



body{
	background-color: rgba(231,231,231,1.00);
}



*[data-page-type]{
	
	.caption{
		border:2px solid #520001;
		margin:2px;
		padding:2px;
		color:red;
	}
	
	.body{
		border:2px solid #9B7E96;
		margin:2px;
		padding:2px;
		color:#B100FF;
		
	}
	
	
}



